body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f8f9fa;

  }
  
  h1 {
    text-align: center;
  }
  
  #quote-box {
    /* any custom styles for the quote box */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  